{% extends 'customer/base_base.html' %}

{% block content %}
<title>About Us</title>
<div class="container mb-5">

    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
    <h1 style="color:Grey; font-size:40px;"><b> ABOUT US </b></h1>
    <p style="color: darkGrey;">Welcome to EatNow!, your go-to destination for an exceptional food ordering experience. </p>
    <p style="color: darkGrey;">At EatNow!, we believe in making your dining choices effortless and enjoyable. </p>
    <p style="color: darkGrey;">Whether you're craving your favorite local delicacies or exploring new culinary adventures, we're here to elevate your dining experience.</p>
 </div>
    </div>
</div>
{% endblock content %}
