{% extends 'customer/base_base.html' %}
{% block content %}
<title>Join Us!</title>
<div class="container mb-5">

    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
    <h1 style="w3-center w3-jumbo"><b> Join Our Restaurant Community </b></h1>
            <h3 style="w3-center w3-jumbo"><b>Welcome to our Restaurant Network!</b></h3>
    <h3 style="w3-center w3-jumbo">Are you a restaurant owner looking to join our vibrant community? We'd love to have you on board.
        Our network is all about connecting with great restaurants, sharing experiences, and delighting food enthusiasts.
        Join us to showcase your culinary expertise and become a part of our growing family.</h3>


    <h4 style="w3-center w3-jumbo">To become a part of our restaurant network, please fill out the form below with your restaurant details. We're excited to have you on board!</h4>



<h3 style="w3-center w3-jumbo"><b> Complete below form and Join Us ASAP! </b></h3>
                <div class="form-group pt-3">
                <input required class="form-control" type="text" placeholder="Restaurant Name" name="Restaurant Name" />
                </div>

                <div class="form-group pt-3">
                <input required class="form-control" type="text" placeholder="Contact Email" name="Contact Email" />
                </div>

                <div class="form-group pt-3">
                <input required class="form-control" type="text" placeholder="Contact Phone" name="Contact Phone" />
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <input required class="form-control" type="text" placeholder="Contact Person" name="Contact Person" />
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                        <input required class="form-control" type="text" placeholder="Additional Information" name="Additional Information" />
                        </div>
                    </div>
                    </div>
                </div>
            </div>

<div class="row justify-content-center mt-1">

                <button type="button" class="btn w3-button btn-light  w3-button w3-round-xlarge w3-black w3-margin-top w3-xlarge" data-toggle="modal" data-target="#submitModal" >
                  JOIN US!
                </button>
</div>
    </br>
    <div>
        <ul>
    <h3>Thank you for considering joining our restaurant network. We look forward to showcasing the unique flavors and experiences your restaurant brings.</h3>
    <h3>For any inquiries, please contact us at eatnow@company.com.</h3>
        </ul>

        <ul>
            <h3 style="color:Grey; font-size:40px; "><b>See you soon at EatNow Network!</b></h3>
        </ul>

    </div>

</div>


{% endblock content %}
