<nav class="navbar navbar-expand-lg navbar-dark grey">
  <a class="navbar-brand"> Restaurant: {{ restaurant.name }}!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Website</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'restaurants' %}"> Go Back to check other Restaurants</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">CART</a>
        <!--<a class="nav-link" href="{% url 'cart' %}"><img class="rounded" src="media/media/favicon-16x16.png" width="35" height="35"/></a>-->
      </li>
    </ul>
  </div>
</nav>