{% extends 'customer/base_base.html' %}

{% block content %}
</br>
</br>
</br>
</br>
</br>
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="w3-center w3-xxlarge">
            <h1><strong><span class="w3-tag w3-green w3-round">Order Submitted!</span></strong></h1>
            </br>
            <p>You should receive a confirmation email soon.</p>

        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-md-5 col-sm-12 text-center">
            <h3 class="pb-3 w3-xxlarge"><strong>Order Summary:</strong></h3>

           {% for item in items %}
                <p class="pb-3 w3-xxlarge">{{ item.name }}: <span class="pb-3 w3-xxlarge">{{ item.price }}</span></p>
            {% endfor %}

            <p class="font-weight-bold pt-4 w3-xxlarge">Total: {{ price }}</p>
        </div>
    </div>

    <div class="row justify-content-center pb-2 pt-5">
        <div class="col-md-6 text-center">
            <h1><strong> Pay With Cash/Card At Delivery</strong></h1>
            </br>
            </br>
            <a href="{% url 'base' %}"><h1 class="w3-tag w3-indigo w3-round">Go to the homepage</h1></a>
        </div>
    </div>

</div>
{% endblock content %}
