{% extends 'customer/menu_base.html' %}

{% block content %}

<!-- Restaurant Menu -->


<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for item in menu_items %}
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ item.pk }}">
                                    <label class="form-check-label">{{ item.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ item.price }}</p>
                            </div>
                            <p>Description: {{ item.description }}</p>

                            <p>{% for cat in item.category.all %}{{cat}}{% endfor %}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>
<button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#submitModal" >
                  Add to Cart!
                </button>


            </form>
        </div>
    </div>
</div>
{% endblock content %}